/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up a background color */
body {
    background-color: #e9e9e9;
    font-family: Arial, sans-serif;
}

/* Style the header with the logo and navigation */
header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.menu a:hover {
    color: #92c842;
}

/* Create a dashboard layout with left and right panels */
main {
    display: flex;
}

.left-panel {
    background-color: #007830;
    width: 250px;
    position: fixed;
    top: 70px; /* Adjust the top position to avoid header overlap */
    bottom: 0;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
.nav-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.left-panel .nav-options a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.left-panel .nav-options a:hover {
    color: #fff;
}
.right-panel {
    flex: 1; /* Allow the right panel to take the remaining width */
    background-color: #fff; /* Set the background color of the right panel */
    padding: 20px; /* Add some padding for spacing */

    /* Center the content both horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Adjust styles for the content container */
.content-container {
    max-width: 600px; /* Set a maximum width for your content */
    text-align: center; /* Center text within the container */
}

