/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styling to the body and fonts */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Style the header section */
.header {
    background-color: #00ac45;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-panel {
    width: 20%;
    background-color: #f7f7f7;
    padding: 20px;
}

.nav-options a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.active {
    color: #00ac45;
}

.right-panel {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Style the Set Reminders form */
.right-panel h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reminder-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.reminder-form label,
.reminder-form select,
.reminder-form input {
    display: block;
    margin-bottom: 20px;
    font-size: 18px; /* Increase font size for better readability */
}

.reminder-form select,
.reminder-form input {
    width: 100%; /* Make input fields full-width */
    padding: 10px; /* Add some padding for better spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reminder-form button {
    background-color: #00ac45; /* Change button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* Increase padding for a larger button */
    cursor: pointer;
    font-size: 20px; /* Increase font size */
    transition: background-color 0.3s;
}

.reminder-form button:hover {
    background-color: #009540; /* Change button color on hover */
}
