/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styling to the body and fonts */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

/* Style the main content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.left-panel {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-options a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.active {
    color: #00ac45;
}

.right-panel {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

/* Style the Set Reminders form */
.right-panel h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.reminder-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

.reminder-form label,
.reminder-form select,
.reminder-form input {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #333;
}

.custom-select:after {
    content: '\25BC';
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 16px;
    color: #333;
}

.reminder-form button {
    background-color: #00ac45;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.reminder-form button:hover {
    background-color: #009240;
}
